$GRAY: #dedede;
$DARK_GRAY: darken( $GRAY, 10% );
$WHITE: #ffffff;
$BLUE: #03aec4;

$TOOLBAR_COLOR: $GRAY;
$TOOLBAR_BORDER_COLOR: $DARK_GRAY; 
$TOOLBAR_ITEM_BG: $DARK_GRAY; 
$CANVAS_COLOR: $WHITE;
$DRAW_COLOR: $BLUE;
